@font-face {
  font-family: 'Chivo-Regular';
  src: url('font/Chivo-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
}
@font-face {
  font-family: 'Chivo-Bold';
  src: url('font/Chivo-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Chivo-Black';
  src: url('font/Chivo-Black.ttf')  format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Chivo-Light';
  src: url('font/Chivo-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
}

body{
  font-family: "Chivo-Regular";
  background-color: grey;
}

img{
  width: 100%;
}

h1{
  font-family: "Chivo-Bold";
  text-align: center;
  font-size: 25px;
  line-height: 108px;
}

p{
  font-family: "Chivo-Regular";
  text-align: center;
  font-size: 25px;
  line-height: 108px;
}
.wrappAll{
  position: relative;
  background-color: black;
  width: 1500px;
  height: 1000px;
  left: 265px;
  top: 110px;
}

.iconBox{
  position: absolute;
  background-color: white;
  width: 250px;
  height: 240px;
  left: 0px;
  top: 0px;
}

.nameBox{
  position: absolute;
  background-color: lightgrey;
  width: 250px;
  height: 100px;
  left: 0px;
  top: 250px;

  text-align: center;
  line-height: 50px;

}

.partBox{
  position: absolute;
  background-color: red;
  width: 250px;
  height: 100px;
  left: 0px;
  top: 350px;

  text-align: center;
  line-height: 50px;

}

.contentBox{
  position: absolute;
  background-color: blue;
  width: 250px;
  height: 240px;
  left: 0px;
  top: 460px;
  text-align: center;
  line-height: 50px;
}

.specialBox{
  left: 20px;
  position: absolute;
  overflow: hidden;
  height: 190px;
  width: 350px;
  background-color: grey;
  border-radius: 20px;
}
.canal{
  height: 25px;
  width: 25px;
}
.contentBox{

}

video{
  height: 197px;
  width: 350px;
  padding: none;
  margin: none;
}

h2{
  position: absolute;
  color: white;
  font-size: 28px;
  z-index: 2;
  top:0px;
  text-align: center;
}
