@font-face {
  font-family: 'Chivo-Regular';
  src: url('font/Chivo-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
}
@font-face {
  font-family: 'Chivo-Bold';
  src: url('font/Chivo-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Chivo-Black';
  src: url('font/Chivo-Black.ttf')  format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Chivo-Light';
  src: url('font/Chivo-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
}

body{
  font-family: "Chivo-Regular";
  background-color: grey;
  transition: background-color 2s;
}

img{
  width: 100%;
}

h1{
  font-family: "Chivo-Bold";
  text-align: center;
  font-size: 25px;
}

p{
  font-family: "Chivo-Regular";
  text-align: center;
  font-size: 25px;
}
.wrappAll{
  position: relative;
  background-color: black;
  width: 1500px;
  height: 1000px;
  left: 270px;
  top: 182px;
}

.title{
  position: absolute;
  background-color: #6CC7B4;
  width: 900px;
  height:150px;
  top: -150px;
  left: 300px;

}

.birdBody{
  position: absolute;
  height: 1000px;
  width: 250px;
  left: 0px;
}

.birdHead{
  position: absolute;
  height: 1000px;
  width: 250px;
  left: 280px;
  background-color: blue;
}

.birdWings{
  position: absolute;
  height: 1000px;
  width: 250px;
  left: 565px;
  background-color: blue;
}

.birdTail{
  position: absolute;
  height: 1000px;
  width: 250px;
  left: 850px;
  background-color: blue;
}

.birdFeet{
  position: absolute;
  height: 1000px;
  width: 250px;
  left: 1132px;
  background-color: blue;
}

.iconBox{
  position: absolute;
  background-color: #6CC7B4;
  width: 250px;
  height: 240px;
  left: 0px;
  top: 0px;
}

.nameBox{
  position: absolute;
  background-color: white;
  width: 250px;
  height: 100px;
  left: 0px;
  top: 250px;
  padding-top: 39px;
  text-transform: capitalize;
  text-align: center;

}

.partBox{
  position: absolute;
  background-color: white;
  width: 250px;
  height: 100px;
  left: 0px;
  top: 355px;
  text-align: center;
  padding-top: 38px;
  text-transform: capitalize;
}

.contentBox{
  box-sizing: border-box;
  display: flex;
  align-items: center;
  position: absolute;
  background-color: white;
  width: 250px;
  height: 240px;
  left: 0px;
  top: 460px;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;

}

.videoBox{
  position: absolute;
  background-color: white;
  width: 250px;
  height: 240px;
  left: 0px;
  top: 708px;
  text-align: center;
  overflow: hidden;
}

video{
  position: absolute;
  height: 185px;
  padding: none;
  margin: none;
  left: -60px;
}

h2{
  position: absolute;
  color: white;
  font-size: 28px;
  z-index: 2;
  top:0px;
  text-align: center;
}
